/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

header {
    background-color: #26011c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.logo {
    height: 160px;
    width: auto;
    border-radius: 8px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #F2C4E6;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.image-display {
    text-align: center;
    margin-top: 20px;
}

#menu-image {
    max-width: 100%;
    max-height: 300px;
    display: none;
    border: 2px solid #26011C;
    border-radius: 8px;
}

footer {
    background-color: #26011C;
    color: #F2C4E6;
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
}

.social-links i {
    font-size: 24px;
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links i:hover {
    color: #ffe4c4;
    /* Change color on hover */
}

/* Contact Form Styling */
form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea,
button {
    width: 100%;
    margin-bottom: 15px;
    background-color: #F2C4E6;
    border: 1px solid #26011C;
    border-radius: 8px;
}

/* Testimonials */
.testimonial {
    background-color: #F2C4E6;
    padding: 10px;
    border: 1px solid #26011C;
    border-radius: 8px;
    margin-bottom: 10px;
}